@import "vars";
@import "libs";
@import "fonts";
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}
.box {
  margin: 0 auto;
  max-width: 1091px;
}
.header {
  &__container {
    padding: 47px 173px 0 57px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  &__navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 450px;
    &-item {
      color: #34547A;
    }
    &-link {
      text-transform: uppercase;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 26px;
      letter-spacing: 0.1em;
      cursor: pointer;
      padding: 4px 9px;
      border-radius: 2px;
      transition: 0.5s;
      &:hover {
        background-color: rgba(36, 144, 244, 0.2);
      }
    }
  }
  &__logo {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 41px;
    line-height: 41px;
    color: #000;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(90deg, #254a93 13.61%, #2490f4 126.94%);
    -webkit-background-clip: text;
    background-size: 0;
    -webkit-background-size: auto;
  }
  &-dropdown {
    display: none;
  }
}

.dropdown-toggle::after {
  display: none;
}
.main__img {
  background-image: url("../img/screen.png");
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 234px;
  margin-top: 46px;
}
.main {
  padding-top: 194px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.main__content {
  max-width: 576px;
}
.main__title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 55px;
  line-height: 50px;
  color: #2462b5;
  margin-bottom: 37px;
}
.main__text {
  font-family: Montserrat;
  font-weight: 300;
  font-size: 20px;
  line-height: 164.06%;
  color: #737373;
}
.main__btn {
  font-family: Roboto;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #ffffff;
  text-transform: uppercase;
  background: linear-gradient(90deg, #254a93 13.61%, #2490f4 126.94%);
  padding: 25px 84px;
  border: none;
  cursor: pointer;
  outline: none;
  margin-top: 50px;
}
.about {
  margin-top: 162px;
  margin-bottom: 153px;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__title {
    margin-bottom: 34px;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #2462b5;
  }
  &__text {
    max-width: 540px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 164.06%;
    text-align: center;
    color: #737373;
    margin-bottom: 75px;
  }
}
.statistic {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  &__item {
    max-width: 191px;
  }
  &_center {
    padding: 0 40px 0 55px;
    .statistic__title,
    .statistic__text {
      text-align: center;
    }
  }
  &_left {
    justify-content: space-between;
    .statistic__item {
      max-width: 324px;
    }
  }
  &__title {
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    color: #2462b5;
  }
  &__text {
    font-size: 20px;
    line-height: 30px;
    color: #737373;
  }
}
.call-form {
  width: 100%;
  height: 324px;
  padding: 56px 0px;
  background: linear-gradient(90deg, #254a93 0%, #2490f4 111.1%), #254a93;
  &__title {
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #ffffff;
    font-style: normal;
    font-weight: 300;
  }
  &__input {
    height: 31px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #b8c6e2;
    background: none;
    border: none;
    border-bottom: 1px solid #93a2c0;
    outline: none;
    width: 362px;
    padding: 0px 10px;
  }
  &__btn {
    background: #ffffff;
    border-radius: 5px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #2490f4;
    padding: 17px 64px;
  }
  &__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin: 57px auto 27px;
    width: 950px;
  }
  &__check {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    color: #ebebeb;
    text-align: center;
    &-input {
      display: none;
    }
    &-label::before {
      content: "";
      width: 25px;
      height: 25px;
      border: 1px solid #93a2c0;
      display: inline-block;
      margin-right: 22px;
      vertical-align: middle;
    }
  }
}
.extra {
  margin-top: 150px;
  margin-bottom: 170px;

  &__info {
    margin-bottom: 75px;
  }
  &__title {
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 50px;
    color: #2462b5;
    margin-bottom: 44px;
  }
  &__text {
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    color: #737373;
  }
}
.price {
  &__title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    color: #2462b5;
    margin-bottom: 85px;
  }
  &__cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
.card {
  width: 325px;
  height: 571px;
  border: none;
  padding: 50px 0px;
  background: linear-gradient(0deg, #254a93 13.61%, #2490f4 126.94%);
  box-shadow: 2px 2px 22px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  &:hover {
    background: #ffffff;
    .card__cost,
    .card__description p {
      color: #2462b5;
    }
  }
  &__container {
    padding: 0px 47px;
    margin: 0 auto;
  }
  &__cost {
    font-style: normal;
    font-weight: 900;
    font-size: 110px;
    line-height: 110px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    &-sub {
      font-size: 16px;
      font-weight: 900;
    }
  }
  &__category {
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 56px;
    color: #ffffff;
    background: #2462b5;
    text-align: center;
    margin-top: -5px;
    margin-bottom: 41px;
  }
  &__description p {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: white;
  }
}
.gallery {
  width: 100%;
  display: flex;
  margin-top: 215px;
  flex-wrap: wrap;
  &__item {
    width: 25%;
    flex-grow: 1;
    position: relative;
    &-hover {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      z-index: 10;
      background-color: rgba(63, 124, 202, 0);
      transition: all 0.5s;
      img {
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      &:hover {
        img {
          display: block;
        }
        background-color: rgba(63, 124, 202, 0.8);
      }
    }
  }
  &__img {
    width: 100%;
    height: auto;
  }
}
.marks {
  &__title {
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 50px;
    color: #2462b5;
    text-align: center;
    margin-top: 102px;
  }
  &__content {
    padding: 0 88px;
    display: flex;
    align-items: center;
    margin-top: 39px;
  }
}
.carousel__arrow-next,
.carousel__arrow-prev {
  width: 37px;
  height: 36px;
  margin-right: 48px;
}
.carousel__arrow-next {
  transform: rotateY(180deg);
  margin-right: 0px;
}
.footer {
  margin-top: 155px;
  background: #2462b5;
  padding-bottom: 81px;
  &__title {    
    padding-top: 40px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 41px;
    line-height: 50px;
    color: #ffffff;
    text-align: center;
  }
  &__item {
    font-family: Montserrat;
    position: relative;
    font-style: normal;
    font-weight: 300;
    font-size: 26px;
    line-height: 32px;
    color: #ffffff;
    padding-left: 83px ;
    &-email::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      background-image: url('../img/email.svg');
      width: 55px;
      height: 35px;
    }
    &-phone::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      background-image: url('../img/phone.svg');
      width: 41px;
      height: 41px;
    }
  }
  &__contacts {
    padding: 0px 323px;
    
  }
  &__flex{
    display: flex;
    margin: 67px 0 85px;;
    flex-direction: row;
    justify-content: space-between;
  }
  &__item-location {
    text-align: center;
    padding-left: 0px;
    span {
      padding-left: 60px;
      position: relative;
    }
    span::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      background-image: url('../img/map.svg');
      width: 34px;
      height: 44px;
    }
  }
}
 

@import "media";
